@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    
}

                                        /* navbar section  */
                                            /* background-color: #1A0B2E; */

nav{
    max-width: 1600px;
    margin: 0 auto;
    padding: 24px 20px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav h3{
    max-width: 137px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
}

nav h3 span{
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav div{
    max-width: 218px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

nav div a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
}
nav div a:hover{
    background-color: rgba(128, 128, 128, 0.474);
}

nav button{
    max-width: 135px;
    padding: 12px 16px;
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    transition: transform .20s ease;
}
nav button:hover{
    transform: scale(1.08) translateY(-2px);
}

nav img {
    max-width: 24px;
    display: none;
    cursor: pointer;
    transition: transform .35s ease;
}

nav img:hover{
    transform: rotate(90deg);
}

                                                      /* Hero section */

#hero-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 101px 525px;

    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content{
    max-width: 550px;
    margin: 0 auto;
}
.hero-image{
    max-width: 350px;
    margin: 0 auto;
    position: relative;


}
.background-logo{
    max-width: 350px;
    display: block;
}

.logo-image{
    max-width: 200px;
    position: absolute;
    top: 22%;
    left: 33%;
}

.badge{
    max-width: 75px;
    background-color: #00FF88;
    padding: 8px 16px;
    color: #1A0B2E;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1000px;
    position: absolute;
    top: 7%;
    right: 2%;
    box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
    animation: pulse 2s ease-in-out infinite;
}

#hero-container h2{
    max-width: 550px;
    margin: 40px auto 8px;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;


}

#hero-container p{
    max-width: 550px;
    margin: 0 auto 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.hero-btn{
    max-width: 356px;
    margin: 0 auto;
    display: flex;
    gap: 8px;
    justify-content: space-between;

}

.btn1{
    max-width: 201px;
    padding: 12px 20px;
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 10000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: transform .20s ease;

}
.btn1:hover{
    transform: scale(1.08) translateY(-2px);
}

.btn2{
    max-width: 147px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: transform .20s ease;
}

.btn2:hover{
    transform: scale(1.08) translateY(-2px);
}

                                            /* About section */

#about-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px 200px 120px;
    background-color: #1A0B2E;
}

.about-info{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);

}

.about-info h3{
    max-width: 1200px;
    margin: 0 auto 16px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}
.about-info p{
    max-width: 1200px;
    margin: 0 auto 30px;
    padding: 0 160px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.about-info h5{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.about-grid{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
}
.box{
    max-width: 240px;
}
.box h2{
    max-width: 240px;
    margin: 0 auto 16px;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: center;
    color: #00FF88;
}

.box p{
    max-width: 240px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}

                                                 /* Why choose part */

#why-choose{
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;
    background-color: #230E3D;

}
#why-choose h2{
    max-width: 1200px;
    margin: 0 auto 40px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}

.why-choose-grid{
    margin: 0 auto;
    display: grid;
    gap: 30px;  
    grid-template-areas: 
    "audio  mobile      mobile"
    "audio  community   community"
    "exclusive  exclusive   resources";
}
.why-choose-grid>*{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
}
.audio{
    grid-area: audio;   
}

.mobile{
    grid-area: mobile;
}

.community{
    grid-area: community;
}

.exclusive{
    grid-area: exclusive;
}

.resources{
    grid-area: resources;
}

.why-choose-grid img{
    max-width: 60px;
}
.why-choose-grid h4{
    
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #FFFFFF;
}
.why-choose-grid p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}

                                            /* featured section */


#featured-and-host-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;
    background-color: rgba(26, 11, 46, 1);
}  

.featured{
    max-width: 1200px;
    margin: 0 auto;
}

.featured h2{
    max-width: 1200px;
    margin: 0 auto 40px;
    text-align: center;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.episodes{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contents{
    max-width: 400px;
}

.video-container{
    max-width: 400px;
    margin: 0 auto;
    border-radius: 24px 24px 0 0;
    overflow: hidden;
}

.video-container iframe{
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border: 0;
    display: block;
}

.featured-info{
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 0 0 24px 24px;
}

.featured-info h4{
    margin: 0 auto 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #FFFFFF;
}

.featured-info h5{
    margin: 0 auto 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}

.featured-info div{
    max-width: 332px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 6px;
}
.featured-info img{
    max-width: 20px;
    color: #00FF88;
}

.featured-info p{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}

.host{
    max-width: 1200px;
    margin: 120px auto 0;
}

.host h2{
    max-width: 1200px;
    margin: 0 auto 40px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #FFFFFF;
}

.host-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.host-img{
    max-width: 200px;
}

.host-info h3{
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: #FFFFFF;
}

.host-info p{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}

.host-logo-section{
    width: 184px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.host-logo{
    width: 40px;
    padding: 10px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.host-logo:hover{
    transform: scale(1.2) translateY(-6px);
    
}

.host-logo img{
    width: 20px;
}


                                    /* Footer section */


#footer{
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px;
    background: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#footer h2{
    margin: 0 auto 32px;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    color: #FFFFFF;
}

#footer h2 span{
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-logo-container{
    max-width: 544px;
    margin: 0 auto 32px;
    display: grid;
    grid-template-columns: 87px 152px 99px 86px;
    gap: 40px;
}

.footer-logo-container>*{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;

}

.footer-logo-container>*:hover{
    transform: scale(1.2) translateY(-2px);
}

.footer-logo-container span{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

#footer p{
    margin: 0 auto;
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}











@keyframes pulse {
    0%   {transform: scale(1);}
    25%  {transform: scale(1);}
    50%  {transform: scale(1.1);}
    75%  {transform: scale(1);}
    100% {transform: scale(1);}
}




@media screen and (max-width: 576px){

                                         /* nav-section */

    nav{
        justify-content: space-between;
    }
    nav h3{
        font-size: 36px;
    }
    nav div{
        display: none;
    }
    nav button{
        display: none;
    }
    nav img{
        display: block;
    }


                                          /* banner-section */


    #hero-container{
    padding: 40px 20px;
    }

    #hero-container h2{
    margin: 24px auto 8px;
    font-size: 40px;
    font-weight: 800;

    }


                                            /* about section */


    #about-container{
    padding: 40px 20px 40px;
    }

    .about-info{
    padding-bottom: 40px;

    }

    .about-info h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    }

    .about-info p{
    margin: 0 auto 10px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    
    }

    .about-info h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    }
    .about-grid{
    padding-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    }

    .box h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    }


                                                /* Why choose section */


    #why-choose{
    padding: 40px 20px;
    }
    #why-choose h2{
    margin: 0 auto 16px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    }

    .why-choose-grid{
    gap: 16px;  
    grid-template-areas: 
    "audio"
    "mobile"
    "community"
    "exclusive"
    "resources";
    }
    .mobile{
    margin-bottom: 10px;
    }

    .why-choose-grid h4{
    font-size: 22px;
    line-height: 27px;
    }


                                                    /* featured section  */


    #featured-and-host-container{
    padding: 40px 20px;
    }

    .featured h2{
    margin: 0 auto 24px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    }

    .episodes{
    flex-direction: column;
    align-items: center;
    gap: 16px;
    }

    .featured-info{
    padding: 16px;
    }

    .featured-info h4{
    margin: 0 auto 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    }

    .featured-info h5{
    margin: 0 auto 8px;
    }

    .host{
    margin: 60px auto;
    }

    .host h2{
    margin: 0 auto 24px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    }

    .host-container{
    padding: 24px;
    border-radius: 24px;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    }

    .host-info{
        text-align: center;
    }

    .host-info h3{
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
    }

    .host-logo-section{
        margin: 0 auto;
    }

                                        /* footer section  */


    #footer{
        padding: 40px 20px;
    }

    #footer h2{
        margin: 0 auto 24px;
        font-size: 40px;
        font-weight: 800;
    }

    .footer-logo-container{
        max-width: 255px;    
        margin: 0 auto 24px;
        grid-template-columns: 99px 152px;
        grid-template-rows: repeat(2, 24px);
        justify-content: center;
        gap: 16px;
    }

    .footer-logo-container>*{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }


    .footer-logo-container .logo-3{
        width: 99px;
        margin-left: 27px;
    }
    .footer-logo-container .logo-4{
        width: 86px;
        margin-left: 27px;
    }





}