@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    
}

                                        /* navbar section  */
                                            /* background-color: #1A0B2E; */

nav{
    max-width: 1600px;
    margin: 0 auto;
    padding: 24px 20px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav h3{
    max-width: 137px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
}

nav h3 span{
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav div{
    max-width: 218px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

nav div a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
}
nav div a:hover{
    background-color: rgba(128, 128, 128, 0.474);
}

nav button{
    max-width: 135px;
    padding: 12px 16px;
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    transition: transform .20s ease;
}
nav button:hover{
    transform: scale(1.08);
}

nav img {
    max-width: 24px;
    display: none;
    cursor: pointer;
    transition: transform .35s ease;
}

nav img:hover{
    transform: rotate(90deg);
}

                                                      /* Hero section */

#hero-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 101px 525px;

    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content{
    max-width: 550px;
    margin: 0 auto;
}
.hero-image{
    max-width: 350px;
    margin: 0 auto;
    position: relative;


}
.background-logo{
    max-width: 350px;
    display: block;
}

.logo-image{
    max-width: 200px;
    position: absolute;
    top: 22%;
    left: 33%;
}

.badge{
    max-width: 75px;
    background-color: #00FF88;
    padding: 8px 16px;
    color: #1A0B2E;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1000px;
    position: absolute;
    top: 7%;
    right: 2%;
    box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
    animation: pulse 2s ease-in-out infinite;
}

#hero-container h2{
    max-width: 550px;
    margin: 40px auto 8px;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;


}

#hero-container p{
    max-width: 550px;
    margin: 0 auto 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.hero-btn{
    max-width: 356px;
    margin: 0 auto;
    display: flex;
    gap: 8px;
    justify-content: space-between;

}

.btn1{
    max-width: 201px;
    padding: 12px 20px;
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 10000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: transform .20s ease;

}
.btn1:hover{
    transform: scale(1.08);
}

.btn2{
    max-width: 147px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: transform .20s ease;
}

.btn2:hover{
    transform: scale(1.08);
}

                                            /* About section */

#about-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px 200px 120px;
    background-color: #1A0B2E;
}

.about-info{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);

}

.about-info h3{
    max-width: 1200px;
    margin: 0 auto 16px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}
.about-info p{
    max-width: 1200px;
    margin: 0 auto 30px;
    padding: 0 160px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.about-info h5{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.about-grid{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
}
.box{
    max-width: 240px;
}
.box h2{
    max-width: 240px;
    margin: 0 auto 16px;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: center;
    color: #00FF88;
}

.box p{
    max-width: 240px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}

                                                 /* Why choose part */

#why-choose{
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;
    background-color: #230E3D;

}
#why-choose h2{
    max-width: 1200px;
    margin: 0 auto 40px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}

.why-choose-grid{
    display: grid;
    gap: 30px;  
    grid-template-areas: 
    "audio  mobile      mobile"
    "audio  community   community"
    "exclusive  exclusive   resources"
}
.audio{
    grid-area: audio;
}

.mobile{
    grid-area: mobile;
}

.community{
    grid-area: community;
}

.exclusive{
    grid-area: exclusive;
}

.resources{
    grid-area: resources;
}




        











@keyframes pulse {
    0%   {transform: scale(1);}
    25%  {transform: scale(1);}
    50%  {transform: scale(1.1);}
    75%  {transform: scale(1);}
    100% {transform: scale(1);}
}




@media screen and (max-width: 576px){
    /* nav-section */
    nav{
        justify-content: space-between;
    }
    nav h3{
        font-size: 36px;
    }
    nav div{
        display: none;
    }
    nav button{
        display: none;
    }
    nav img{
        display: block;
    }
        /* banner-section */
    #hero-container{
    padding: 40px 20px;
    }

    #hero-container h2{
    margin: 24px auto 8px;
    font-size: 40px;
    font-weight: 800;

    }

        /* about section */

    #about-container{
    padding: 40px 20px 40px;
    }

    .about-info{
    padding-bottom: 40px;

    }

    .about-info h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    }

    .about-info p{
    margin: 0 auto 10px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    
    }

    .about-info h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    }
    .about-grid{
    padding-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    }

    .box h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    }


}